// Colors
$white: #FFFFFF;
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 100%;
}

.container-shorten {
    display: grid;
    grid-template-columns: 100%;
}

.landing {
    display: grid;
    grid-template-columns: 100%;
}

footer {
    display: grid;
    grid-template-columns: 100%;
    background-color: $very-dark-violet;

    h5 {
        color: $white;
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 7%;
    }

    ul li {
        margin: 7px;
    }

    ul li a {
        text-decoration: none;
        color: $grayish-violet;
        font-size: 16px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    height:100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: $very-dark-violet;
}

p {
    color: $grayish-violet;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: $cyan;
    border-radius: 5px;
    color: $white;
    text-decoration: none;
    border: none;
    padding: 0.5em;
    margin: 0.25em 0;
    font-weight: 700;
    font-size: 18px;
}

.btn-primary-rounded {
    background-color: $cyan;
    border-radius: 20px;
    color: $white;
    text-decoration: none;
    border: none;
    padding: 0.5em;
    margin: 0.25em 0;
    font-weight: 700;
    font-size: 18px;
}

.shorten-bg {
    background: url('images/bg-shorten-mobile.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-color: $dark-violet;
    margin: 0 50px;
    margin-top: -17%;
    padding: 30px;
    border-radius: 17px;
}

.boost-bg {
    background: url('images/bg-boost-mobile.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark-violet;
    padding: 10%;

    h2 {
        color: #FFFFFF;
        margin-bottom: 15px;
    }
}

.social li {
    display: inline;
    margin: 0 10px;
}

.bg-gray {
    background-color: #f0f1f6;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.logo-footer {
    margin: 10%;
    filter: brightness(100);
}

.shortener {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #f0f1f6;
}

.testexpand {
    grid-area: 1 / 2 / 2 / 2;
}


.navbar {
    display: none;
    grid-gap: 15px;
    list-style: none;
    background-color: $dark-violet;
    margin: 0 2%;
    padding: 15px;
    border-radius: 10px;
    
    li a {
        color: $white;
        text-decoration: none;
    }

    hr {
        height: 1px;
        background-color: $grayish-violet;
        border: none;
    }

    button {
        width: 100%;
    }
}

.vertical-line {
    border-left: 6px solid $cyan;
    position: absolute;
    left: calc(50% - 3px);
    height: 80%;
    z-index: 1;
}

.horizontal-line {
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    padding: 50px;
    margin: 30px;  
    background-color: #FFFFFF;
    z-index: 2;
}

.card-container {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
}

hr {
    display: none;
}

.circle {
    background-color: $dark-violet; 
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: -40px;    

    img {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    footer {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
        padding: 3%;

    }

    .container-shorten {
        display: grid;
        grid-template-columns: 11fr 1fr;
        grid-gap: 20px;
    }

    .logo-footer {
        margin: 0;
        filter: brightness(100);
    }

    .landing {
        display: grid;
        grid-template-columns: 8fr 4fr;
    }

    .img-inicio {
        grid-column: 2;
    }

    .text-inicio {
        grid-column: 1;
        grid-row: 1;
    }

    .shorten-bg {
        background: url('images/bg-shorten-desktop.svg');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $dark-violet;
        margin: 0 50px;
        margin-top: -3%;
        padding: 30px;
        border-radius: 17px;
    }

    .boost-bg {
        background: url('images/bg-boost-desktop.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $dark-violet;
        padding: 10%;
    
        h2 {
            color: #FFFFFF;
            margin-bottom: 15px;
        }
    }
    
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .circle {
        background-color: $dark-violet; 
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: absolute;
        left: calc(20% - 40px);
        top: -40px;
    
        img {
            padding: auto;
        }
    }

    .vertical-line {
        display: none;
    }
    
    hr {
        display: block;
        position: absolute;
        border: 6px solid $cyan;
        width: 80%;
        left: 10%;
        top: 50%;
    }
}