// Colors
$white: #FFFFFF;
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    height:100%;
}

.boost-bg {
    background: url('images/bg-boost-mobile.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark-violet;
    padding: 10%;

    h2 {
        color: #FFFFFF;
        margin-bottom: 15px;
    }

    button {
        padding: 0.5em 2em;
    }
}

.btn-primary {
    background-color: $cyan;
    color: $white;
    text-decoration: none;
    border: none;
    padding: 0.5em;
    margin: 0.25em 0;
    font-weight: 700;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.btn-round {
    border-radius: 25px;
    padding: 0.5em 1.2em;
}

.card-container {
    display: grid;
    grid-template-columns: 100%;
    grid-area: 4 / 2 / 4 / 3;
    position: relative;
    row-gap: 5em;
    margin-bottom: 50%;   
}

.card {
    position: relative;
    padding: 15%;
    background-color: #FFFFFF;
    border-radius: 7px;
    z-index: 2;
}

.card-1 {
    transform: translateY(12%);
}

.card-2 {
    transform: translateY(24%);
}

.circle {
    background-color: $dark-violet; 
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: -40px;    

    img {
        padding: 20px;
    }
}

.container-center {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #f0f1f6;
}

footer {
    display: grid;
    grid-template-columns: 100%;
    background-color: $very-dark-violet;

    h5 {
        color: $white;
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 7%;
    }

    ul li {
        margin: 7px;

        a {
            text-decoration: none;
            color: $grayish-violet;
            font-size: 16px;
            &:hover {
                color: $cyan;    
            }
            
            svg {
                fill: $white;
                
                &:hover {
                    fill: $cyan;
                }
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: $very-dark-violet;
}

hr {
    display: none;
}

.landing {
    display: grid;
    grid-template-columns: 100%;
    padding: 0 20px;
    overflow: hidden;

    
    img {
        height: auto;
        margin: 0 7%;
    }

    .landing-text {
        margin: 10% 0;
    }
}

.left {
    border-bottom: 1px solid $grayish-violet;
}

.logo-footer {
    margin: 10%;
    filter: brightness(100);
}

#menu {
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

.msg-error {
    color: $red;
    text-align: left;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0.5em;
    display: none;

    &.active {
        display: block;
    }
}

nav {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 10px 15px;

    img {
        display: block;
        margin: auto 0;
    }
}

.navbar {
    list-style: none;
    display: none;
    grid-area: 2 / 1 / 2 / 3;
    background-color: $dark-violet;
    border-radius: 10px;
    padding: 15px;
    margin: 0 3%;

    .navbar-item {
        margin: 10px 10px;
    }

    li a {
        color: $white;
        text-decoration: none;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }

    &.active {
        display: grid;
    }
}

p {
    color: $grayish-violet;
}

.result {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    background-color: $white;
    margin: 1em 0;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.result-header {
    border-bottom: 1px solid $gray;

    p {
        padding: 0.5em 1em;
        color: $dark-violet;
    }
}

.result-body {
    padding: 0.5em 1em;

    p {
        color: $cyan;    
    }

    button {
        width: 100%;
    }
}

.shorten-bg {
    background: url('images/bg-shorten-mobile.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-color: $dark-violet;
    grid-area: 1 / 2 / 1 / 3;
    padding: 20px;
    height: min-content;
    transform: translateY(-50%);
    border-radius: 7px;
    display: grid; 
    grid-template-columns: 100%;

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid $gray;
        font-family: 'Poppins', sans-serif;
        color: $dark-violet;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=text].error,
    select {
        border: 2px solid $red;
        color: $red;
    }
}

.shorten-results {
    grid-area: 2 / 2 / 2 / 3;
    margin-top: -14%;
}   

.social li {
    display: inline;
    margin: 0 10px;
}

.text-hero {
    margin: 10% 0 25% 0;
    grid-area: 3 / 2 / 3 / 3;
}

.vertical-line {
    border-left: 6px solid $cyan;
    position: absolute;
    left: calc(50% - 3px);
    height: 80%;
    z-index: 1;
}

@media (min-width: 768px) {

    .boost-bg {
        background: url('images/bg-boost-desktop.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $dark-violet;
        padding: 10%;
    }

    .card {
        position: relative;
        text-align: left;
        padding: 10%;
        h3 {
            margin: 15px 0;
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 10%;
        column-gap: 5em;
    }

    .circle {
        background-color: $dark-violet; 
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: absolute;
        left: calc(20% - 40px);
        top: -40px;    
    
        img {
            padding: 20px;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
        padding: 3%;

        ul li {
            a {
                &:hover {
                    color: $cyan;    
                }
                
                svg {
                    fill: $white;
                    
                    &:hover {
                        fill: $cyan;
                    }
                }
            }
        }
    }

    hr {
        display: block;
        position: absolute;
        border: 4px solid $cyan;
        width: 80%;
        left: 10%;
        top: 50%;
    }

    .landing {
        display: grid;
        grid-template-columns: 8fr 4fr;
        padding: 0 20px;
        overflow: hidden;
        justify-items: center;
        align-items: center;
    
        
        img {
            height: auto;
            margin: 0 7%;
        }
    
        .landing-text {
            grid-column: 1;
            grid-row: 1;
            text-align: left;
            padding: 0 20%;

            h1 {
                font-size: 60px;
            }

            button {
                margin-top: 1.5em;
            }
        }
    }

    .left {
        display: flex;
        border-bottom: 0px;
    }

    #menu {
        display: none;
        margin-left: auto;
    }

    .msg-error {
        grid-area: 2 / 1 / 2 / 1;
        color: $red;
        text-align: left;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 0.5em;
        display: none;

        &.active {
           display: block; 
        }
    }

    nav {
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 0 15px;
    }

    .navbar {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-area: 1 / 2 / 1 / 3;
        background-color: $white;
        margin: 0;
        
        li {
            display: inline;
            margin: 0 10px;
        }

        .navbar-item {
            margin: auto 10px;
        }

        li a {
            text-decoration: none;
            color: $grayish-violet;

            &:hover {
                color: $very-dark-violet
            }
        }
        
    }


    .right {
        display: flex;
        justify-content: end;
    }

    .result {
        display: grid;
        grid-template-columns: 8fr 5fr;
        column-gap: 15px;
        background-color: $white;
        margin: 15px 0;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
    }

    .result-header {
        border-bottom: none;
    
        p {
            padding: 0.5em 1em;
            color: $dark-violet;
            text-align: left;
        }
    }
    
    .result-body {
        display: flex;
        flex-direction: row;
        padding: 0.5em 1em;
        justify-content: end;
    
        p {
            color: $cyan;    
            margin: auto 1em;
        }

        button {
            width: auto;
            padding: 0.5em 1.5em;
        }
    }
    
    .shorten-bg {
        background: url('images/bg-shorten-desktop.svg');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $dark-violet;
        display: grid;
        height: min-content;
        transform: translateY(-50%);
        grid-template-columns: 10fr 2fr;
        column-gap: 20px;

        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid $gray;
            font-family: 'Poppins', sans-serif;
            color: $dark-violet;
            border-radius: 4px;
            font-size: 18px;
            box-sizing: border-box;
        }
    }

    .shorten-results {
        grid-area: 2 / 2 / 2 / 3;
        margin-top: -3%;
    }   
    
    .text-hero {
        margin: 10% 20%;
    }

    .vertical-line {
        display: none;
    }
}
